.stack-work/
.stack-work.yaml
stack.yaml.lock
/dist/
/.hpc/
/.ghc.environment.*.yaml
cabal.project.local
cabal.project.local~
*.cabal
*.project
*.project.local
*.session
*.session.local
*.ghc.environment.*
.cabal-sandbox/
cabal.sandbox.config
cabal.sandbox.config~
*.cabal.sandbox.config
*.cabal.sandbox.config~
dist-newstyle/
hie.yaml
*.hi
*.o
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prof
*.p_hi
*.p_o
.hoogle/
.haddock/
*~
\#*\#
.\#*
.emacs.desktop.lock
*.elc
.vscode/
.hlint.yaml
.hlint.yaml.ignore
.ghcide/
.hoogle/
docker-compose.override.yml
.dockerignore
/.docker/
.idea/
*.swp